<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
<connectionStrings>
	<add name="PandianDB" connectionString="Data Source=DESKTOP-S0LDOQT\PANDIAN;Initial Catalog=Pandian;User ID=sa;Password=pandian@123" providerName="System.Data.SqlClient"/>
</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>
	  <bindings>
		  <webHttpBinding>
			  <binding name="webBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
				  <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
			  </binding>
		  </webHttpBinding>
	  </bindings>
    <behaviors>
		<endpointBehaviors>
			<behavior name="PandianStoreService">
				<webHttp />
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior name="PandianStoreServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	  <services>
		  <service behaviorConfiguration="PandianStoreServiceBehavior" name="PandianStoreService.PandianStoreService">
			  <endpoint address="" bindingConfiguration="webBinding" behaviorConfiguration="PandianStoreService" binding="webHttpBinding" contract="PandianStoreService.IPandianStoreService" />
		  </service>
	  </services> 
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <!--<directoryBrowse enabled="true" />-->
  <httpProtocol>
	  <customHeaders>
     <clear/>
        <add name="X-UA-Compatible" value="IE=edge"/>
    <add name="Access-Control-Allow-Headers" value="origin, X-Requested-with, content-Type, Accept,Headervalue"/>
    <add name="Access-Control-Allow-Nethods" value="POST,GET"/>
    <add name="Access-Control-Max-Age" value="172s000"/>
    <add name="cache-control" value="no-store"/>
    <add name="Pragma" value="no-cache"/>
    <add name="X-Frame-options" value="SAMEORIGIN"/>
    <add name="strict-Transport-security" value="max-age=31536000;includeSubDomains"/>
	<add name="X-Content-Type-Options" value=""/>
    <add name="X-XSS-Protection" value="1; mode=block"/>
	  </customHeaders>
  </httpProtocol>
  <!--<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>-->
  
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>
	  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		  <dependentAssembly>
			  <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			  <codeBase version="4.0.0.0" href="file:///C:/Windows/assembly/GAC_MSIL/System.Configuration/4.0.0.0__b03f5f7f11d50a3a/System.Configuration.dll" />
		  </dependentAssembly>
	  </assemblyBinding>

  </runtime>
</configuration>
